@page
@model AgroConnect.Pages.HomeModel
@{
}
<style>
    .sidebar {
        min-height: 100vh;
    }

    .sidebar-icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .main-content {
        padding: 20px;
    }
</style>
<!-- como centralizar uma div na metade da tela em bootstrap?-->
<div class="row" style="height: calc(100vh - 200px); overflow: hidden;">
    <div class="col-md-5 d-flex align-items-center justify-content-center flex-column flex-grow-1">
        <h1>Bem-vindo ao sistema agroconnect</h1>
        <h3>O que deseja fazer hoje?</h3>
        <div>
            <a asp-page="/Plantacoeshome"><button class="btn btn-primary px-5">Lavoura</button></a>
            <a asp-page="/GadoHome"><button class="btn btn-primary px-5">Gado</button></a>
            <a asp-page="/Deslogar"><button class="btn btn-primary px-5">Deslogar</button></a>
        </div>
    </div>
    <div class="col-md-7 d-flex align-items-center flex-grow-1">
        <object data="undraw_wind_turbine_x-2-k4.svg" type="image/svg+xml">
            <img src="~/images/undraw_wind_turbine_x-2-k4.svg" />
        </object>
    </div>
</div>